{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Résultats de la recherche pour "{{ searchTerm }}" :</h1>
    <br>

    {% if produits is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th>Ref</th>
                    <th>Nom</th>
                    <th>Quantité</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <!-- Ajoutez d'autres colonnes au besoin -->
                </tr>
            </thead>
            <tbody>
                {% for produit in produits %}
                    <tr>
                        <td>{{ produit.refProd }}</td>
                        <td>{{ produit.nomProd }}</td>
                        <td>{{ produit.quantite }}</td>
                        <td>{{ produit.description }}</td>
                        <td>{{ produit.prix }}</td>
                        <!-- Ajoutez d'autres colonnes au besoin -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun résultat trouvé pour "{{ searchTerm }}".</p>
    {% endif %}
</div>
{% endblock %}
