{% extends 'back.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <br>
    <br>
    <br>
    <h1 style="text-align: center;">Product</h1>

    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-6">
                <div class="box_main">
                    <div class="card h-100">
                        <img class="card-img-top" src="{{ asset('images/' ~ produit.image) }}" alt="{{ produit.nomProd }}">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-3" style="font-size: 24px; color: #007bff;">{{ produit.nomProd }}</h5>
                            <p class="card-text"><strong>Prix:</strong> {{ produit.prix }} DT</p>
                            <p class="card-text"><strong>Quantité:</strong> {{ produit.quantite }}</p>
                            <p class="card-text"><strong>Description:</strong> {{ produit.description }}</p>
                            <p class="card-text"><strong>Catégorie:</strong> {{ produit.categories.nomCat }}</p>
                        </div>
                        <div class="card-footer">
                            <div class="text-center mt-3">
                            <a href="{{ path('app_admin_prod_index') }}" class="btn btn-primary" style="background-color: #778A17;">Back to List</a>
                                {{ include('admin_prod/_delete_form.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}
